:root {
    --color1: rgb(20, 64, 160);
    --color2:white;
}
  }
 body,html {
    margin: 0;
    padding: 0;
} 
.col-sm {
    height: 100vh;
}
.info {
    background-color: var(--color1);
    color:var(--color2) ;
}
.upgrader {
    background-color: var(--color2);
}
.btn-primary{
    background-color: var(--color1);
}
.form-control{
    border:0px;
}