:root {
    --color1: rgb(199, 10, 10);
    --color2:rgb(17, 17, 17);
}
  }
 body,html {
    margin: 0;
    padding: 0;
} 
.col-sm {
    height: 100vh;
}
.info {
    background-color: var(--color1);
    color:var(--color2) ;
}
.upgrader {
    background-color: var(--color2);
}
.btn-danger{
    background-color: var(--color1);
    border-color: var(--color1);
}
label{
    color: rgb(230, 230, 230);
}
.form-control{
    border:0px;
}
form{
    width: 50%;
}
